# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\gdse 58\couseWork\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
